body {
    margin: 0;
    
    background-color: #EEEEEE;
}

.title {
    font-size: 4rem;
    margin-bottom: 30px;
    text-align: center;
    font-family:'Noto Sans KR', sans-serif;
    color: #898989;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: darkslategrey;
    
}
.nav_item {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #EEEEEE;

}
