.nav-bar {
  width: 100%;
  height: 50px;
  background-color: #4b778d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: #EEEEEE;
  text-decoration: none;
}