@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    color: #EEEEEE;
}
body {
    display: flex;
    flex-direction: column;
    
    
    background-color: #393E46 ;
}
.container {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
 
    align-items: center;
    font-size: 40px;
    font-weight: 600;


}

#recount {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    width: 30%;
    height: 80px;
    font-family: 'Nunito', sans-serif;
    background-color: #00ADB5;
    font-size: 30px;
    font-weight: 600;
    color: #EEEEEE;
    border-style: none;
    border-radius: 20px;
    
}
