@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {

  max-width: 622px;
  margin: 0 auto;
  background-color: #EEEEEE;
  
}


.header {
  position: fixed;
  display: flex;
  width: 100%;

  max-width: 622px;
}

.nav-bar {
  width: 100%;
  height: 80px;
  background-color: #4b778d;
  display: flex;
  flex-direction: column;
  
}

.nav-item {
  color: #EEEEEE;
  text-decoration: none;
}

a {
  text-decoration:none;
}


.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  
}

.container-items {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;

}




.logo-bar {
  display: flex;
  justify-content: center;
}
#logo {
  
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  
  
}

.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px; 
  width: 100%;
}

.hidden {
  display:none;
}