{% extends 'base.html' %}
{% block css %}{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block title %}
Community
{% endblock %}
{% block content %}
  {% for post in posts %}
  <div class="container">
    <ul>
      <li class="container-items">
        <a href="{% url 'detail' post.pk %}">{{ post.title }}</a><a>{{post.author }}</a>
      </li>
    </ul>
    <a class="write" href="{% url 'new' %}">글 쓰러가기</a>
  </div>
  {% endfor %}
 
{% endblock content %}