{% extends 'base.html' %}
{% block css %}{% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
{% endblock %}
{% block title %}
    New
{% endblock %}

{% block content %}



<div class="new-post-container">
    <form method="POST" action=".">
        {% csrf_token %}
        새 글 입력하기
        <label for="title">제목</label>
        <input type="text" placeholder="제목을 입력하세요." name="title">
        <label for="content">내용</label>
        <textarea placeholder="내용을 입력하세요." name="content"></textarea>
        <label for="due_date">마감일</label>
        <input type="datetime-local" id="due_date" name="due_date">
        <input id="new-post-submit-btn" type="submit">
    </form>
</div>
{% endblock %}

